<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1, minimum-scale=1,maximum-scale=1"/>
    <!-- force full screen on some browser -->
    <meta name="full-screen" content="yes"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    
    <!-- force screen orientation on some browser -->
    <meta name="screen-orientation" content=""/>
    <meta name="x5-orientation" content="">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>loader.css">
    <title></title>
  </head>
  <body>
   
    <div id="app">

    </div>
    <script src="<%= BASE_URL %>jquery.min.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
